.achievement 
  position relative
  display inline-block
  width 60px
  height 60px
  margin 0 6px 6px 0
  border-radius 3px
  background no-repeat 50% 50%
  background-size cover
  cursor pointer

  &:after,
  &__text
    opacity 0
    position absolute
    bottom 100%
    left -30px
    width 120px
    margin-bottom 8px
    background #c2c2c2
    padding 3px
    color #434345
    font-size 11px
    line-height 14px
    white-space pre
    text-align center
    border-radius 3px
    box-shadow 0 0 10px
    pointer-events none
    transition opacity .2s ease

    ^[0]:hover &
      opacity 1
  
  &:before 
    opacity 0
    content '^'
    position absolute
    bottom 100%
    left 27px
    width 0
    height 0
    border solid transparent
    border-color rgba(255, 255, 255, 0)
    border-top-color #c2c2c2
    border-width 5px
    font 0/0 a
    pointer-events none
    transition opacity .2s ease

  &:hover:before
    opacity 1
  
  &_father 
    background-image url(http://s2.afisha-eda.ru/StaticContent/Files/131001172704/160721173648/Untitled-5.png)

  /*http://s2.afisha-eda.ru/StaticContent/Files/140728151003/160721180955/7.png*/
  &_papa 
    background-image url(http://s2.afisha-eda.ru/StaticContent/Files/160721161512/160721195832/12.png)
  
  &_fail 
    background-image url(http://s1.afisha-eda.ru/StaticContent/Files/141121185532/160721181737/9.png)
  
  &_two-year 
    background-image url(http://s1.afisha-eda.ru/StaticContent/Files/150306143755/160721182251/5.png)
  
  &_five-year 
    background-image url(http://s2.afisha-eda.ru/StaticContent/Files/160721161512/160721200230/15.png)
  
  &_ten-year 
    background-image url(http://s2.afisha-eda.ru/StaticContent/Files/150310173804/160721182950/11.png)
  
  &_yandex 
    background-image url(http://s2.afisha-eda.ru/StaticContent/Files/150609123427/160721184527/12.png)

  &_kirovsk 
    background-image url(http://s1.afisha-eda.ru/StaticContent/Files/160404192515/160721185434/13.png)

  &_micromachines 
    background-image url(http://s1.afisha-eda.ru/StaticContent/Files/160721161512/160722125959/16.png)

  &_darts 
    background-image url(http://s2.afisha-eda.ru/StaticContent/Files/160721161512/160722130831/sticker375x360.png)
  
  &_collective 
    background-image url(http://s2.afisha-eda.ru/StaticContent/Files/160721161512/160722133456/17.png)

  &_hernia 
    background-image url(http://s2.afisha-eda.ru/StaticContent/Files/160721161512/160722140430/13559690.png)

  &_indecisive 
    background-image url(http://s1.afisha-eda.ru/StaticContent/Files/160722163041/160722182317/done.png)

  &_alone 
    background-image url(http://s2.afisha-eda.ru/StaticContent/Files/160722222927/160722222927/20.png)

  &_yankee 
    background-image url(http://s2.afisha-eda.ru/StaticContent/Files/161114131737/170630223057/12.png)

  &_radio
    background-image url(/images/radio.png)
  
  /*http://s1.afisha-eda.ru/StaticContent/Files/160722163041/160722181916/plan.png*/
  &_temp 
    background-image url(http://s1.afisha-eda.ru/StaticContent/Files/160721161512/160722153718/IMAG0010.png)
