@import "reset.styl"
@import "body.styl"
@import "variables.styl"
@import "tupichok.styl"
@import "sitizen.styl"
@import "storage.styl"
@import "achievement.styl"

.app
  opacity 0
  transition opacity .5s ease

  &_loaded
    .app
      opacity 1
