.tupichok
  width 1000px
  margin 0 auto
  padding 100px 0

  &_userList
    #userList
      display block

  &_storage
    #storage
      display block

  &__tabs
    position fixed
    top 0
    z-index 100
    width 1000px
    margin 0 auto

    &-item
      position relative
      top -3px
      display inline-block
      margin-right 5px
      padding 3px 10px 0
      background #272b36
      box-shadow 0 0 10px #000
      line-height 25px
      border-radius 0 0 3px 3px
      color #fff
      transition top .2s ease
      cursor pointer

      &:hover,
      &_current
        top 0
    
  